*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Root Font Size Calculation */
/* Inital Font Size from root is 16px and my personal font size for my project is 10px  */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2rem;

  box-sizing: border-box;
}

.login {
  height: 95vh;
  background-image: url(/img/login.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.login__section {
  background: rgba(44, 62, 80, 0.9);
  padding: 4rem;
  width: 35rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__form {
  width: 30rem;
  text-align: center;

  text-transform: uppercase;

  backface-visibility: hidden;
}

.login__text {
  color: #fff;
  margin-bottom: 3rem;
}

.form__group--last {
  margin-bottom: 3rem;
}

.login__form--input {
  width: 30rem;
  font-size: 1.5rem;
  font-family: inherit;
  text-align: center;
  background-color: rgba(203, 238, 236, 0.5);
  /* background: transparent; */
  border: none;
  border-bottom: 3px solid transparent;
  /* border-bottom: 1px solid #fff; */
  font-weight: 200;
  padding: 1rem 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
  margin-bottom: 2rem;
  display: block;
}

.login__form--input:focus:invalid {
  border-bottom: 3px solid #ffa500;
}

.login__form--input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #79bd8f;
}

::-webkit-input-placeholder {
  color: rgb(183, 243, 243);
  opacity: 0.8;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.login__form--input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.btn__group .btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  border-radius: 1rem;
  transition: all 0.2s;
  margin-bottom: 2rem;
  cursor: pointer;
  border: none;
  outline: none;

  transition: all 0.2s;
  margin-top: -1.5rem;
}

.btn,
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn,
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--login {
  background-color: #d3d61b;
  margin-left: 1rem;
}

.btn--login a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* .btn--login {
  background-color: #fff;
  color: #777;
} */

.login__info--text {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 5rem;
}

.login__info--text a {
  text-transform: capitalize;
  text-decoration: none;
  color: #beeb9f;
}

.login__info--text a:hover {
  color: #ffe385;
}

.login__info--link {
  font-size: 1.6rem;
  display: block;
  color: #fff;
}

.login__info--link a {
  text-transform: capitalize;
  text-decoration: none;
  color: #beeb9f;
}

.login__info--link a:hover {
  color: #ffe385;
}

@media screen and (min-width: 360px) {
  body {
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(0);
  }

  .login {
    width: 100%;
    height: 62rem;
  }

  .login__section {
    width: 100%;
    height: 104%;
  }

  .login__form {
    margin-left: -1.9rem;
    margin-top: 4rem;
    width: 100%;
  }

  .form__group {
    margin-left: -1.2rem;
  }

  .form__label {
    color: #10ff00e1;
    font-size: 1.2rem;
    font-weight: 700;
    /* margin-left: 38rem; */
  }

  .login__text {
    margin-bottom: 3rem;
    font-size: 3rem;
  }

  ::-webkit-input-placeholder {
    color: rgb(183, 243, 243);
    opacity: 0.8;
    font-size: 4rem;
  }

  .form__label {
    font-size: 2rem;
  }

  .login__form--input {
    height: 6rem;
    font-size: 3rem;
  }

  .login__info--text {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
  }

  .login__info--link {
    margin-left: -3.4rem;
    font-size: 2rem;
  }

  .btn--login {
    width: 16rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(0);
  }

  .login {
    width: 100%;
    height: 105rem;
  }

  .login__section {
    width: 100%;
    height: 104%;

    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(0);
  }

  .login__form {
    margin-left: 12rem;
    margin-top: 15rem;
    width: 100%;
  }

  .form__group {
    margin-left: -1.2rem;
  }

  .form__label {
    color: #10ff00e1;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: -20rem;
  }

  .login__form--input {
    height: 8rem;
    padding: 0 3rem;
  }

  ::-webkit-input-placeholder {
    color: rgb(183, 243, 243);
    opacity: 0.8;
    font-size: 4rem;
  }

  .form__label {
    color: #10ff00e1;
    font-size: 3rem;
    font-weight: 700;
    /* margin-left: 38rem; */
  }

  .login__text {
    margin-left: -20.7rem;
    margin-bottom: 3rem;
    font-size: 6rem;
  }

  .login__form--input {
    font-size: 4rem;
    width: 69%;
  }

  .btn--login {
    margin-left: -21.6rem;
    width: 30%;
  }

  .btn--login a {
    font-size: 3rem;
  }

  .login__info {
    margin-left: 27rem;
  }

  .login__info--text {
    margin-left: -23.5rem;
    margin-top: 2rem;
    font-size: 5rem;
  }

  .login__info--link {
    margin-top: 0.8rem;
    margin-left: -21.9rem;
    font-size: 4rem;
  }
}

@media screen and (min-width: 1280px) {
  body {
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(0);
  }

  .login {
    width: 100%;
    height: 92rem;
  }

  .login__section {
    width: 100%;
    height: 104%;

    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(0);
  }

  .login__form {
    margin-left: 17.2rem;
    margin-top: 4.1rem;
    width: 100%;
  }

  .form__group {
    margin-left: 2.9rem;
  }

  .form__label {
    color: #10ff00e1;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: -33rem;
  }

  .form__label {
    font-size: 3rem;
  }

  .login__text {
    margin-left: -30.6rem;
    margin-bottom: 3rem;
    font-size: 7rem;
  }

  .login__form--input {
    width: 69%;
  }

  .btn--login {
    margin-left: -28.1rem;
    width: 16%;
  }

  .btn--login a {
    font-size: 1.6rem;
  }

  .login__info {
    margin-left: 53.8rem;
  }

  .login__info--text {
    margin-right: 29.5rem;
    margin-top: 2rem;
    font-size: 4rem;
  }

  .login__info--link {
    margin-top: 7.8rem;
    margin-left: -18.8rem;
    font-size: 4rem;
  }

  .btn--login {
    margin-left: -34.6rem;
    width: 23%;
  }

  .btn--login a {
    font-size: 3rem;
  }
}
