*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Root Font Size Calculation */
/* Inital Font Size from root is 16px and my personal font size for my project is 10px  */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2rem;

  box-sizing: border-box;
}

.account {
  height: 95vh;
  padding: 5rem 4rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(190, 235, 159, 0.801),
    rgba(121, 189, 159, 0.808)
  );
}

.account__section {
  background-image: url(/img/register.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

  height: 57rem;
  position: relative;
}

.form__column {
  padding: 4rem 6rem;
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.inner__row:after {
  content: '';
  display: table;
  clear: both;
}

.account__heading {
  text-align: center;
  font-size: 2rem;
}
.account__text {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.acc__accordion {
  background-color: #8fb7a5;
  color: #fff;
  cursor: pointer;
  padding: 6px;
  width: 100%;
  text-align: left;
  border: 1px solid white;
  transition: 0.4s;
  font-size: 2rem;
  font-family: inherit;
  outline: none;
}

.acc__panel {
  padding: 0 1.8rem;
  background-color: white;
  display: none;
  overflow: hidden;
}

.acc__text {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-family: inherit;
}

.active,
.acc__accordion:hover {
  background-color: #527e6a;
}

.acc__accordion:after {
  content: '\02795';
  font-size: 1.5rem;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2796';
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: rgb(0, 0, 0);
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(203, 238, 236, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ffa500;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #79bd8f;
}

::-webkit-input-placeholder {
  color: rgb(14, 15, 15);
  opacity: 0.8;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.btn__group .btn,
.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 1rem;
  color: white;
  padding: 1rem 4rem;
  cursor: pointer;
  float: left;
  border: none;

  transition: all 0.2s;
  margin-top: -1.5rem;
}

.btn,
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn,
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--create {
  background-color: #4caf50;
  outline: none;
  /* margin-top: -9rem; */
}

.btn--view {
  background-color: #d3d61b;
  margin-top: 7rem;
  margin-left: 6rem;

  outline: none;
}

.btn--view a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 360px) {
  .account {
    width: 100%;
    height: 89rem;
  }

  .form__column {
    width: 123%;
  }

  .account__section {
    width: 100%;
    height: 104%;
  }

  .acc__accordion {
    margin-left: -4.5rem;
    width: 121%;
  }

  .register__text {
    margin-left: -4.5rem;
  }

  .acc__panel {
    width: 100%;
    padding-top: 2px;
  }

  .btn--view {
    padding: 1rem 1rem;
    margin-left: 1.7rem;
  }

  .form__input {
    margin-left: -4.5rem;
    width: 17rem;
  }

  .btn--create {
    margin-top: 2rem;
    padding: 2rem 2rem;
    margin-left: -4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .account {
    width: 100%;
    height: 100rem;
  }

  .form__column {
    width: 100%;
  }

  .account__section {
    width: 100%;
    height: 104%;
  }

  .acc__accordion {
    width: 102%;
  }

  .acc__panel {
    width: 100%;
    padding-top: 2px;
  }

  .btn--view {
    padding: 1rem 1rem;
    margin-left: 58px;
  }

  .register__text {
    margin-bottom: 2rem;
  }

  .btn--create {
    margin-top: 20px;
    padding: 2rem 2rem;
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .account {
    width: 100%;
    height: 100rem;
  }

  .form__column {
    width: 100%;
  }

  .account__section {
    width: 100%;
    height: 104%;
  }

  .acc__accordion {
    width: 102%;
  }

  .acc__panel {
    width: 100%;
    padding-top: 2px;
  }

  .btn--view {
    padding: 1rem 1rem;
    margin-left: 58px;
  }

  .register__text {
    margin-bottom: 2rem;
  }

  .btn--create {
    margin-top: 20px;
    padding: 2rem 2rem;
    margin-left: 0px;
  }
}
