*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Root Font Size Calculation */
/* Inital Font Size from root is 16px and my personal font size for my project is 10px  */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2rem;

  box-sizing: border-box;
}

.login {
  height: 95vh;
  background-image: url(/UI/img/login.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.login__section {
  background: rgba(44, 62, 80, 0.9);
  padding: 4rem;
  width: 35rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__form {
  width: 30rem;
  text-align: center;

  text-transform: uppercase;

  backface-visibility: hidden;
}

.login__text {
  color: #fff;
  margin-bottom: 3rem;
}

.form__group--last {
  margin-bottom: 3rem;
}

.login__form--input {
  width: 30rem;
  font-size: 1.5rem;
  font-family: inherit;
  text-align: center;
  background-color: rgba(203, 238, 236, 0.5);
  /* background: transparent; */
  border: none;
  border-bottom: 3px solid transparent;
  /* border-bottom: 1px solid #fff; */
  font-weight: 200;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
  margin-bottom: 2rem;
  display: block;
}

.login__form--input:focus:invalid {
  border-bottom: 3px solid #ffa500;
}

.login__form--input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #79bd8f;
}

::-webkit-input-placeholder {
  color: rgb(183, 243, 243);
  opacity: 0.8;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.login__form--input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.btn__group .btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  border-radius: 1rem;
  transition: all 0.2s;
  margin-bottom: 2rem;
  cursor: pointer;
  border: none;
  outline: none;

  transition: all 0.2s;
  margin-top: -1.5rem;
}

.btn,
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn,
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--login {
  background-color: #d3d61b;
  margin-left: 10px;
}

.btn--login a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* .btn--login {
  background-color: #fff;
  color: #777;
} */

.login__info--text {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 5rem;
}

.login__info--text a {
  text-transform: capitalize;
  text-decoration: none;
  color: #beeb9f;
}

.login__info--text a:hover {
  color: #ffe385;
}

.login__info--link {
  font-size: 1.6rem;
  display: block;
  color: #fff;
}

.login__info--link a {
  text-transform: capitalize;
  text-decoration: none;
  color: #beeb9f;
}

.login__info--link a:hover {
  color: #ffe385;
}
